<main *ngIf="!isResShown" class="question__main">
  <div>{{ question.question }}</div>

  <div *ngFor="let answer of question.answers">
    <input type="radio" name="answer" (click)="setSelectedAnswer(answer)" />
    {{ answer.text }}
  </div>

  <div class="question__controls">
    <button class="question__controls-button" (click)="confirmQuestion()">
      confirm
    </button>
    <div class="question__controls-navigation">
      <button class="question__controls-button" (click)="showPrevQuestion()">
        prev
      </button>
      <button class="question__controls-button" (click)="showNextQuestion()">
        next
      </button>
    </div>
  </div>
</main>

<button *ngIf="isResShown" (click)="refreshQuestions()">
  Refresh questions
</button>
