.question__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.question__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.question__controls-navigation {
  display: flex;
  padding: 1.5rem;
  column-gap: 0.5rem;
}

.question__controls-button {
  width: 5rem;
  height: 2rem;
}
