<header class="choose-exam-page__header">CHOOSE YOUR VARIOR!!!</header>

<main class="choose-exam-page__main">
  <a routerLink="/ootpisp" routerLinkActive="router-link-active"
    >OOTPISP(FUCKING SLAVE)</a
  >
  <a routerLink="/osisp" routerLinkActive="router-link-active"
    >OSISP(DANGEON MASTER)</a
  >
  <a routerLink="/yap" routerLinkActive="router-link-active">YAP(VAN)</a>
  <a routerLink="/ksis" routerLinkActive="router-link-active"
    >KSIS(DARK_HOLE)</a
  >

  <div>Created by Sasim Egor(aka Gregory meat pants)</div>
</main>
